<div class="row">
  <div class="col-md-10">
    <app-search-user [(searchModel)]="searchModel"></app-search-user>
  </div>
  <div class="col-md-2">
      <button mat-raised-button color="warn" [routerLink]="['add-user']">Add User</button>
  </div>
</div>


<div class="row">
  <div class="col-md-6 userList" *ngFor="let item of alluser  | searchFilter: searchModel" style="padding:2% 2%">
      <mat-card>
        <b>{{item.name}}</b> <br><br>
        <i class="material-icons">phone</i>  {{item.phone}} <br><br>
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> {{item.address.city}} <br><br>
       <button type="submit" mat-raised-button color="primary" [routerLink]="['view',item.id]">View More</button>  
        
      </mat-card>
  </div>
</div>