<div class="row" *ngIf="singleBook">
	<div class="col-md-12" *ngFor = "let book of singleBook" style="padding:2% 2%">

		<mat-card class="example-card">
			<mat-card-header>
				<!-- <div mat-card-avatar class="example-header-image"></div> -->
				<mat-card-title>{{book.name}}</mat-card-title>
				<mat-card-subtitle>{{book.authors}}</mat-card-subtitle>
			</mat-card-header>
      

			<!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
			<mat-card-content>
        <br>
				<!-- <p>
					The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
					A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
					bred for hunting.
				</p> -->
 
        <h5>Total Number of Pages : {{book.numberOfPages}}</h5>
        <h5>Publisher : {{book.publisher}}</h5>
        <h5>Country : {{book.country}}</h5>
        <h5>Released Date : {{book.released | date}}</h5>

			</mat-card-content>
     
		</mat-card>
	</div>
</div>
