<div class="row" *ngIf="singleBook">
	<div class="col-md-12" style="padding:2% 2%">

		<mat-card class="example-card">
			<mat-card-header>

				<mat-card-title>{{singleBook.name}}</mat-card-title>
				<mat-card-subtitle>{{singleBook.authors}}</mat-card-subtitle>
			</mat-card-header>
			<mat-divider></mat-divider>
			<mat-card-content>
				<br>
				<h5>Total Number of Pages : {{singleBook.numberOfPages}}</h5>
				<h5>Publisher : {{singleBook.publisher}}</h5>
				<h5>Country : {{singleBook.country}}</h5>
				<h5>Released Date : {{singleBook.released | date}}</h5>

			</mat-card-content>
		</mat-card>
		<br>
		<mat-card>
			<mat-card-header>
				<h1> Characters</h1>
			</mat-card-header>
			<mat-accordion>
				<mat-expansion-panel>
					<mat-expansion-panel-header>
						<mat-panel-title>
							Self aware panel
						</mat-panel-title>
						<mat-panel-description>

						</mat-panel-description>
					</mat-expansion-panel-header>
					<p>I'm visible because I am open</p>
				</mat-expansion-panel>
			</mat-accordion>
		</mat-card>
	</div>
</div>